@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    overflow-x: hidden;
}

/*-------------------------------Jumbotron-------------------------------*/

#landing-area {
    background-attachment: fixed;
    background-image: url('../images/landing.jpg');
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding-top: 15px;
    margin-bottom: 0px;
    z-index: -1;
}

.jumbotron .container {
    margin-top: 175px;
}

.jumbotron h1 {
    font-family: "Exo", sans-serif;
    font-size: 64px;
    font-weight: 500;
    color: #fafafa;
    text-align: center;
}

.jumbotron p {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #fafafa;
    text-align: center;
}

.jumbotron .about-me {
    padding: 20px 50px 15px 50px;
    position: absolute;
    bottom: 10%;
    background-color: #eeeeeede;
}

.jumbotron .about-me p {
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    font-weight: 300;
    color: #255d29;
    border-top: 35px;
    text-align: center;
    line-height: 34px;
    letter-spacing: 2px;
}

.jumbotron span {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}


/*-------------------------------Navbar-------------------------------*/

.navbar-left {
    padding-left: 20px;
}

.navbar-right {
    padding-right: 50px;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: transparent;
}

.nav-pills>li>a {
    border-radius: 4px;
    color: #fafafa;
    font-size: 18px;
    font-weight: 500;
    font-family: "Exo", sans-serif;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.nav-pills>li>a:hover {
    color: #75ea3d;
    background-color: transparent;
}

.social-media {
    padding-left: 15px;
}


/*-------------------------------Portfolio-------------------------------*/

#portfolio {
    background-attachment: scroll;
    background-image: url('../images/wood.jpg');
    background-size: cover;
    height: 100%;
    width: 100vw;
    padding-left: 100px;
    margin-bottom: 0px;
}

#portfolio .container {
    margin-top: 0;
}

.card {
    width: 320px;
    height: 428px;
    position: relative;
    display: block;
    overflow: hidden;
    margin: 60px 15px 30px 15px;
    background-color: #638e65;
    border-radius: 2.5%;
    box-shadow: 0 2px 5px 0 #555555;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.card:hover {
    background-color: #649b8694;
}

.card .card-image {
    background: url(../images/nytimes.jpg) no-repeat center;
    background-size: cover;
    height: 200px;
    width: 280px;
    margin: 15px 15px 15px 20px;
    border-radius: 2.5%;
}

#nytimes {
    background: url(../images/nytimes.jpg) no-repeat center;
    background-size: cover;
    height: 200px;
    width: 280px;
    margin: 15px 15px 15px 20px;
    border-radius: 2.5%;
}

#flipboard {
    background: url(../images/flipboard.png) no-repeat center;
    background-size: cover;
    height: 200px;
    width: 280px;
    margin: 15px 15px 15px 20px;
    border-radius: 2.5%;
}

#waze {
    background: url(../images/waze.jpg) no-repeat center;
    background-size: cover;
    height: 200px;
    width: 280px;
    margin: 15px 15px 15px 20px;
    border-radius: 2.5%;
}

#pexels {
    background: url(../images/pexels.png) no-repeat center;
    background-size: cover;
    height: 200px;
    width: 280px;
    margin: 15px 15px 15px 20px;
    border-radius: 2.5%;
}

#balsamiq {
    background: url(../images/balsamiq.jpg) no-repeat center;
    background-size: cover;
    height: 200px;
    width: 280px;
    margin: 15px 15px 15px 20px;
    border-radius: 2.5%;
}

#the-economist {
    background: url(../images/theeconomist.png) no-repeat center;
    background-size: cover;
    height: 200px;
    width: 280px;
    margin: 15px 15px 15px 20px;
    border-radius: 2.5%;
}

.card .card-content {
    padding: 0px 20px 10px 20px;
}

.card-content .card-title {
    font-family: "Exo", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #fafafa;
}

.card-content .card-subtitle {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fafafa;
}

.card-content .card-text {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #fafafa;
    text-align: left;
}

.card .card-icons {
    position: absolute;
    bottom: 5px;
    padding: 10px 0;
    border-radius: 50%;
    font-size: 28px;
    width: 100px;
    line-height: 14px;
    margin-left: 55%;
}

.desktop-icon {
    display: inline-block;
    box-shadow: 0px 0px 2px #888;
    background-color: #fafafa;
    color: #103311e3;
    width: 41px;
    height: 41px;
    padding: 9px 0;
    border-radius: 50%;
    font-size: 26px;
    text-align: center;
    vertical-align: middle;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

.github-icon {
    display: inline-block;
    float: right;
    box-shadow: 0px 0px 2px #888;
    background-color: #fafafa;
    color: #103311e3;
    width: 41px;
    height: 41px;
    padding: 5px 0;
    border-radius: 50%;
    font-size: 28px;
    text-align: center;
    vertical-align: middle;
    margin: 2.5px 0px 2.5px 10px;
}

.card i:hover {
    color: #674c1f8c;
}


/*-------------------------------Portfolio-------------------------------*/

#skills {
    background-color: #9b9280a1;
    height: 90vh;
    width: 100vw;
    margin: 0;
}

#skills .container {
    width: 100%;
    margin: 0;
    padding-left: 120px;
    padding-right: 150px;
}

#skills .row .progress-section {
    margin-left: 100px;
    margin-bottom: 15px;
    width: 95vw;
}

#skills .progress {
    float: left;
    width: 80%;
}

.skills-title {
    font-size: 30px;
    color: #255d29;
    margin-top: 0px;
}

#skills h3 {
    color: #255d29;
    margin-top: 0px;
}

.skills-description {
    padding-top: 100px;
    padding-bottom: 90px;
}

.skills-description p {
    color: #255d29;
    font-size: 16px;
    text-align: left;
}

.skill-name {
    position: absolute;
    left: -50px;
    color: #255d29;
    font-family: "Roboto", sans-serif;
    font-size: 1.05em;
    font-weight: 400;
}

.skills-icon {
    font-size: 38px;
    color: #8a6d3b;
    padding-left: 20px;
}


/*-------------------------------Work History-------------------------------*/

#work {
    background-attachment: fixed;
    background-image: url('../images/work.jpg');
    background-position: bottom;
    background-size: cover;
    opacity: 0.8;
    height: 100vh;
    width: 100vw;
    padding-top: 50px;
    padding-left: 50px;
    margin-bottom: 0px;
    z-index: -1;
}

#work .container {
    margin: 0;
    width: 100vw
}

#work .row {
    width: 100vw;
}

#work h2 {
    color: #fafafa;
    font-family: "Exo", sans-serif;
    margin-bottom: 30px;
}

#work h3 {
    color: #39424E;
    font-family: "Exo", sans-serif;
    font-weight: bold;
}

.academic-background {
    padding-left: 100px;
}

.item {
    padding: 54px 32px 0px 32px;
    position: relative;
    color: #D6DDE7;
    border-left: 1px solid;
    border-color: #9B9280;
    margin-bottom: 30px;
}

.item:before {
    content: attr(datetime);
    position: absolute;
    left: 2.0em;
    top: 30px;
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.item:after {
    content: "";
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    background: #4E4531;
}

.item p {
    padding: 0;
    margin: 0;
    color: #D6DDE7;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
}


/*-------------------------------Contact-------------------------------*/

#contact {
    background-attachment: scroll;
    background-image: url('../images/profile.jpg');
    background-size: cover;
    height: 90vh;
    width: 100vw;
    margin-bottom: 0px;
}

#contact h2 {
    font-family: "Exo", sans-serif;
    font-size: 30px;
    color: #fafafa;
}

#contact .container {
    margin-top: 135px;
    margin-left: 120px;
}

.contact-field {
    margin: 15px 0px 15px 0px;
}

.contact-field .btn-primary {
    background-color: #255d29;
    border-color: #fafafa;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.contact-field .btn-primary:hover {
    background-color: #75ea3d;
    border-color: #fafafa;
}


/*-------------------------------Footer-------------------------------*/

footer {
    text-align: center;
    background-color: #255d29;
}

footer .container {
    padding-bottom: 15px;
    padding-top: 15px;
}

.footer-icons a {
    padding-left: 10px;
    padding-right: 10px;
}

.footer-icons i {
    display: inline-block;
    box-shadow: 0px 0px 2px #888;
    background-color: #fafafa;
    color: #255d29;
    width: 41px;
    height: 41px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    padding: 20px 0;
    border-radius: 50%;
    font-size: 30px;
    line-height: 2px;
    text-align: center;
    vertical-align: middle;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

footer i:hover {
    color: #75ea3d;

}

/*-------------------------------Media Queries-------------------------*/

/*----------------------XS Devices----------------------*/

@media (max-width: 768px) and (min-width: 320px) {
    #landing-area {
        background-position: center;
        background-size: cover;
        background-attachment: scroll;
        width: 100vw;
    }

    .navbar-left {
        padding-left: 0px;
    }

    .nav-pills>li>a {
        font-size: 12px;
        font-weight: bold;
        text-decoration: underline;
    }

    .jumbotron .container {
        margin-top: 40px;
    }

    .jumbotron h1 {
        font-size: 52px;
    }

    .jumbotron .about-me {
        padding: 0;
    }

    .jumbotron .about-me p {
        font-size: 14px;
        margin: 0;
        line-height: 27px;
    }

    .card {
        margin: 60px 0px 50px -100px;
    }

    #skills {
        height: 92vh;
    }

    #skills .container {
        margin: 0;
        padding-left: 25px;
    }

    #skills .progress {
        width: 90%;
    }

    .skills-mobile {
        width: 100vw;
    }

    .skills-description {
        padding-top: 42px;
        padding-bottom: 24px;
    }

    .skills-description p {
        margin-bottom: 24px;
        padding-right: 15px;
    }

    .skills-icon {
        padding-left: 0px;
    }

    .skill-name {
        left: 16px;
        color: #fafafa;
        font-size: 10px;
        padding-top: 3px;
        padding-left: 8px;
    }

    #skills .row .progress-section {
        margin-left: 1px;
        margin-bottom: 12px;
    }

    #work {
        background-position: bottom;
        background-attachment: scroll;
        padding-top: 30px;
        padding-left: 20px;
        height: 203vh;
    }

    .academic-background {
        padding-left: 15px;
        padding-top: 20px;
    }

    hr {
        margin: 15px 58px 15px 15px;
        border-top: 1px solid #fafafa;
        border: inset;
    }

    #contact {
        background-attachment: scroll;
        background-position: top;
        height: 80vh;
        width: 100vw;
    }

    #contact .container {
        margin-top: 33px;
        margin-left: 9px;
        margin-right: 66px;
    }

}

/*--------------Responsive/MobileS------------*/

@media (max-width: 320px) {
    .nav-pills>li>a {
        font-size: 9px;
    }

    .card {
        margin: 60px 0px 44px -122px;
        width: 302px;
    }

    #nytimes,
    #flipboard,
    #waze,
    #flipboard,
    #pexels,
    #balsamiq,
    #the-economist {
        margin: 15px 15px 15px 10px;
    }
}

/*--------------Responsive/MobileM------------*/

@media (max-width: 375px),
(max-height: 734px) {
    #skills {
        height: 101vh;
    }
    #work {
        height: 230vh;
    }
}

/*--------------Responsive/MobileL------------*/

@media (max-width: 767px) and (min-width: 425px) {
    .navbar-left {
        padding-left: 22px;
    }

    #portfolio {
        padding-left: 125px;
    }
}


/*--------------SM Devices------------*/

@media (max-width: 992px) and (min-width: 768px) {
    #landing-area {
        background-position: center;
        background-size: cover;
        background-attachment: scroll;
        width: 100vw;
    }

    .navbar-left {
        padding-left: 0px;
    }

    .navbar-right {
        padding-right: 23px;
    }

    .nav-pills>li>a {
        font-size: 14px;
        font-weight: bold;
        text-decoration: underline;
    }

    .jumbotron .container {
        margin-top: 210px;
    }

    .jumbotron .about-me {
        padding: 15px;
        bottom: 15%;
    }

    .jumbotron .about-me p {
        font-size: 14px;
        margin: 0;
    }

    #portfolio {
        padding-left: 55px;
    }

    .card {
        margin: 60px 0px 50px -20px;
    }

    #skills {
        height: 90vh;
        padding-left: 15px;
    }


    #skills .container {
        margin: 0;
        padding-left: 25px;
    }

    .skills-mobile {
        width: 100vw;
    }

    .skills-description {
        padding-top: 42px;
        padding-bottom: 24px;
        padding-right: 55px;
    }

    .skills-description p {
        margin-bottom: 24px;
        padding-right: 15px;
    }

    .skills-icon {
        padding-left: 0px;
    }

    .skill-name {
        left: 16px;
        color: #fafafa;
        font-size: 10px;
        padding-top: 3px;
        padding-left: 8px;
    }

    #skills .progress {
        width: 90%;
    }

    #skills .row .progress-section {
        margin-left: 1px;
        margin-bottom: 12px;
    }

    #work {
        background-position: bottom;
        background-attachment: scroll;
        padding-top: 60px;
        padding-left: 20px;
        height: 105vh;
    }

    .academic-background {
        padding-left: 0px;
        padding-top: 0px;
    }

    #work h3 {
        font-size: 13px;
        font-weight: bold;
    }

    .item:before {
        font-weight: bold;
        font-size: 13px;
    }

    .item p {
        font-size: 13px;
    }

    hr {
        margin: 15px 58px 15px 15px;
        border-top: 1px solid #fafafa;
        border: inset;
    }

    #contact {
        background-attachment: scroll;
        background-position: top;
        height: 73vh;
        width: 100vw;
        padding-top: 1px;
    }

    #contact .container {
        margin-top: 80px;
        margin-left: 22px;
        margin-right: 25px;
    }

}

/*--------------MD Devices------------*/

@media (min-heigth: 1366px),
(max-width: 1400px) and (min-width: 1024px) {
    #landing-area {
        background-attachment: scroll;
        height: 118vh;
    }

    .jumbotron .container {
        margin-top: 194px;
    }

    .jumbotron .about-me {
        padding: 20px 30px 15px 30px;
    }

    .nav-pills>li>a {
        font-weight: bold;
        font-size: 18px;
        text-decoration: underline;
    }

    #portfolio {
        padding-left: 263px;
    }

    .card {
        margin: 60px 0px 50px -61px;
    }

    #skills {
        height: 107vh;
    }

    .skills-description {
        padding-right: 10px;
    }

    #skills h3 {
        margin-bottom: 26px;
    }

    .skills-icon {
        padding-left: 0px;
    }

    #work {
        height: 128vh;
        width: 100vw;
        padding-top: 85px;
        padding-left: 40px;
    }

    .academic-background {
        padding-left: 0px;
    }

    #work {
        background-attachment: scroll;
    }

    #work h2 {
        margin-bottom: 66px;
    }

    #contact {
        background-position: bottom;
        height: 98vh;
    }

    #contact .row {
        padding-right: 23px;
        margin-left: 0px;
    }

    #contact .container {
        margin-top: 65px;
        margin-left: 12px;
    }

    .form-control {
        padding: 20px 12px;
    }

}
